.footer{
  position: relative;
  overflow: hidden;
  background-color: white;
  margin-right: -50%;
  margin-left: -50%;
  float:bottom; 
}

#image_about{
  margin-left: 19%;
  float:left; width:20%;
}

#about{
  float:left; width:20%;
}

#social1{
  margin-right: 25.5%;
  float: right;
}
#social2{
  float: right;
}


blockquote {
  font-style: italic
}

::selection {
  background: #ffb7b7 !important; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7 !important; /* Gecko Browsers */
}


