blockquote {
  font-style: italic
}

::selection {
  background: #ffb7b7 !important; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7 !important; /* Gecko Browsers */
}


a:link{
    color: #1e64c8 !important;
}

a:hover{
    color: #1e64c8 !important;
}

a:active{
    color: #1e64c8 !important;
}

